{% extends 'base.html.twig' %}

{% block title %}Lista de Productos{% endblock %}

{% block body %}
  <h1 class="center-align" style="font-size:30px">Lista de Productos</h1>



{% for product in all_items %}
<div class="row">
<div class="card">
	{{product.nombre}}
</div>
</div>


{% endfor %}

{% if maxPages > 1 %}
    <ul class="pagination">
        {%if thisPage > 1 %}
            <li >
                <a href="{{ path('producto_index', {currentPage: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
            </li>
        {% endif %}

        {# Render each page number #}
        {% for i in 1..maxPages %}
            <li>
                <a href="{{ path('producto_index', {currentPage: i}) }}">{{ i }}</a>
            </li>
        {% endfor %}

        {# `»` arrow #}
        {%if thisPage < maxPages %}
            <li>
                <a href="{{ path('producto_index', {currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
            </li>
        {% endif %}
    </ul>
{% endif %}

{% endblock %}